.logo {
  margin-top: 10px;
  font-size: 18px;
  margin-left: 20px;
}

.logo h1 {
  /* display */
  color: #fee715;
  border: 2px solid #fee715;
  padding: 0.5em;
  borer-radius: 7px;
}

.logo h1:hover {
  border-color: rgb(171, 154, 0);
}
