.input-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
}

.form-container > h3 {
  font-size: 2.5rem;
  margin: 50px 0;
  color: rgb(152, 255, 142);
}

.around-globe {
  color: rgb(200, 244, 196);
  font-size: 2rem;
}

.connect-input {
  height: 25px;
  border: 2px solid grey;
  border-radius: 5px;
  margin-bottom: 15px;
  background: rgba(6, 17, 63, 0.29);
  color: rgb(203, 255, 198);
  font-weight: 500;
  padding: 7px;
  font-size: 1rem;
  line-height: 1.2;
}

.connect-label {
  color: rgb(203, 255, 198);
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.form-globe-container {
  display: flex;
  flex-direction: column;
}

.globe-wrapper {
  margin: 0 auto;
}

/* .formContainer {
  background: white;
  padding: 10%;
  border-radius: 10px;
} */

.connectForm {
  max-width: 550px;
  margin: 0 auto;
  border-radius: 7px;
}

.input-container textarea {
  resize: vertical;
  height: 120px;
}

.connect-input:focus {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}

.formBtn {
  background-image: linear-gradient(
    to right,
    rgb(64, 110, 138) 0%,
    rgb(5, 158, 229) 51%,
    rgb(33, 148, 106) 100%
  );
}
.formBtn {
  font-size: 1.2rem;
  border-radius: 7px;
  border: none;
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: rgb(152, 255, 142);
  border-radius: 10px;
  display: block;
  font-weight: 500;
}

.formBtn:hover {
  background-position: right center; /* change the direction of the change here */
  color: rgb(228, 253, 226);
  text-decoration: none;
}

@media screen and (min-width: 850px) {
  .form-container > h3 {
    text-align: center;
  }
  .form-globe-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-left: 10rem;
  }
}
