.main-nav > a {
  font-size: 16px;
  color: black;
}

.activeNav {
  border-bottom: 2px solid green;
  border-width: 80%;
}

.header {
  display: flex;
  justify-content: space-between;
  /* margin: 0 50px; */
}

.burgerBtn {
  position: absolute;
  right: 0;
  color: green;
}
