
.sectionHero {
  display: flex;
  flex-direction: column;
  margin: 40px;
  align-items: center;
  justify-content: center;
}


.consult {
  margin: 20px;
}


.logo {
  max-width: 250px;
}

.consult h1 {
  font-size: 20px;
  font-weight: bold;
  color: rgb(50, 50, 50);
  margin: 10px 0;
}


.consult button {
  font-size: 16px;
  margin-top: 1.3em;
  justify-content: start;
  margin: 40px auto;
 
}

 .consult h2 {
  font-size: 40px;
  font-weight: bold;
  margin: 10px 0;
  color: rgb(50, 50, 50);
}


@media screen and (min-width: 768px) {
.hero {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: flex-start;
  justify-content: center;
} 
 .logo {
  width: 100%;
  height: 100%;
}
.consult {
  display: flex;
  flex-direction: column;
  margin-left: 3em;
  text-align: start;
} 
.consult p {
  font-size: 24px;
  color: rgb(50, 50, 50);
} 
.consult h1 {
  font-size: 40px;
  font-weight: bold;
  color: rgb(50, 50, 50);
}
.consult button {
  margin-left: 0;
}


}




 


