.navbar {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  background-color: #896d79;
  align-items: center;
  padding: 28px 0;
  justify-content: space-between;
  
}

.navList {
  list-style: none;
  font-size: 18px;
}

.navList:last-child {
 margin-right: 30px;
}

a:link {
  text-decoration: none;
}

.link.active {
  color: "#fff";
  background: "#1a1818";
}

.link {
  color: white;
  
}
