/*.formList { 
 display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  margin-top: 40px;
}

input {
  display: flex;
  border-radius: 7px;
  padding: 5px 10px;
  outline: none;
  border: 2px solid rgb(1, 132, 240);
} */

/* .personal-info {
  display: grid;
  grid-template-areas:
    "initial  image"
    "moto  image"
    "personal-links  image";
  grid-template-columns: 1fr 1fr;
  gap: 20px;
} */
/* @import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Special+Gothic+Expanded+One&display=swap");

.homeWrapper {
  background-color: rgb(14, 56, 100);
  font-family: "Special Gothic Expanded One", sans-serif;
}

.personal-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 50px 0;
  line-height: 1.5;
}

.initial {
  font-size: 35px;
  color: rgb(255, 255, 255);
}
.initial > span {
  color: rgb(152, 255, 142);
}
.moto {
  font-size: 25px;
  color: rgb(255, 255, 255);
  text-align: center;
}

.personal-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding-top: 20px;
}

.personal-links a:nth-child(2),
.personal-links a:nth-child(3) {
  color: rgb(222, 255, 219);
  border-radius: 50%;
  border: 2px solid rgb(222, 255, 219);
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  text-decoration: none;
}
.personal-links > *:hover {
  transform: scale(1.2);
  color: rgb(222, 255, 219);
  background: rgb(14, 56, 100);
  border: 2px solid rgb(222, 255, 219);
  transition: transform 0.5s ease-in-out;
}

.myResume {
  text-decoration: none;
  color: rgb(14, 56, 100);
  padding: 12px 18px;
  background: rgb(222, 255, 219);
  border-radius: 50px;
}

.image {
  border-radius: 7px;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.image:hover {
  transform: scale(1.03);
  box-shadow: 0 4px 8px rgba(140, 140, 140, 0.57),
    0 10px 30px rgba(255, 255, 255, 0.37);
  cursor: pointer;
}

@media screen and (min-width: 820px) {
  .personal-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 100px 0;
    line-height: 1.5;
  }
  .hero-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
  }
  .moto {
    font-size: 25px;
    color: rgb(255, 255, 255);
    width: 70%;
  }
  .hero-info {
    justify-content: space-between;
    text-align: center;
    align-items: center;
  }
  .personal-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
  }
}
